;// _footer.scss

/********** FOOTER **********/

.footer {
    // height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgba(14, 18, 19, 0.8);
    font-size: calcSize(14, $xs);
    @include mq(landmob) {
        font-size: calcSize(14, $sm);
    }
    @include mq(tablet) {
        font-size: calcSize(20, $md);
    }
    @include mq(desktop) {
        font-size: calcSize(20, $lg);
    }
    @include mq(xlarge) {
        font-size: calcSize(20, $xl);
    }

    &_contacts {
        display: block;
        @include mq(tablet) {
            display: none;
        }
    }
    &-text {
        font-size: calcSize(8, $xs);
        @include mq(landmob) {
            font-size: calcSize(8, $sm);
        }
        @include mq(tablet) {
            font-size: calcSize(10, $md);
        }
        @include mq(desktop) {
            font-size: calcSize(10, $lg);
        }
        @include mq(xlarge) {
            font-size: calcSize(10, $xl);
        }
    }
}



/********** BASIC FINAL **********/

.hidden {
    display: none;
}