;// _header.scss

/********** HEADER **********/

.header {
    width: 100%;
    position: fixed;
    z-index: 1031;
    top: 0;
    background: rgba(14, 18, 19, 0.8);
    @include mq(landmob) {
        font-size: calcSize(16, $sm);
    }
    @include mq(tablet) {
        font-size: calcSize(14, $md);
    }
    @include mq(desktop) {
        font-size: calcSize(16, $lg);
    }
    @include mq(xlarge) {
        font-size: calcSize(16, $xl);
    }

    &_socials {
        @include mq(landmob) {
            font-size: calcSize(20, $sm);
        }
        @include mq(tablet) {
            font-size: calcSize(20, $md);
        }
        @include mq(desktop) {
            font-size: calcSize(30, $lg);
        }
        @include mq(xlarge) {
            font-size: calcSize(30, $xl);
        }
    }
    &_contacts {
        display: none;
        @include mq(tablet) {
            display: block;
        }
    }
}

.header-logo {
    height: 30px;
    object-fit: contain;
    // @include mq(landmob) {
    //     width: calcSize(10, $sm);
    // }
    // @include mq(tablet) {
    //     width: calcSize(10, $md);
    // }
    // @include mq(desktop) {
    //     width: calcSize(10, $lg);
    // }
    // @include mq(xlarge) {
    //     width: calcSize(10, $xl);
    // }
    &__img {
        width: 50px;
        // max-width: 100%;
        // max-height: 100%;
    }
}

.header i {
    font-family: fontawesome !important;
}

