;// _main-section.scss

/********** MAIN SECTION **********/

.main-section {
    position: relative;
    &_title {
        font-family: 'Stick', sans-serif;
        // font-family: 'Poiret One', cursive;
        font-size: calcSize(40, $xs);
        padding-top: 28px;
        @include mq(landmob) {
            font-size: calcSize(80, $sm);
            margin-top: 10px;
            padding-top: 50px;
        }
        @include mq(tablet) {
            font-size: calcSize(60, $md);
            padding: 40px;
        }
        @include mq(desktop) {
            position: absolute;
            top: 70vh;
            // top: 50vh;
            // transform: translateY(-50%);
            width: 100vw;
            background: rgba(14, 18, 19, 0.8);
            font-size: calcSize(60, $lg);
            padding: 20px;
            margin-top: 0;
        }
    }
}


